* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Black Ops One";
}

:root {
  --dark-fire: rgb(162, 67, 49);
  --steak-crust: rgb(43, 35, 38);
  --dark-brown: #582f0e;
  --medium-brown: #7f4f24;
  --light-brown: #a68a64;
  --light-green: #c2c5aa;
  --medium-green: #656d4a;
  --dark-green: #799049;
  --burnt-red: #941b0c;
  --mustartd-yellow: #f6aa1c;
}

/* menu styling */
.menu-text-title {
  margin-bottom: 10px;
}
.by-the-pound-title,
.sandwich-menu-title {
  margin-bottom: 10px;
}
.menu-content-div {
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: 1px solid black;
}
.by-the-pound-container,
.sandwich-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.by-the-pound-div,
.by-the-pound-price-div,
.sandwich-menu-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.by-the-pound-div > ul,
.by-the-pound-price-div > ul,
.sandwich-menu-div > ul,
.sandwich-price-div > ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-weight: 100;
  gap: 5px;
}

.by-the-pound-price-div,
.sandwich-price-div {
  margin-left: 40px;
}
.sandwich-menu-title {
  margin-top: 10px;
}
