* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Black Ops One";
}

:root {
  --dark-fire: rgb(162, 67, 49);
  --steak-crust: rgb(43, 35, 38);
  --dark-brown: #582f0e;
  --medium-brown: #7f4f24;
  --light-brown: #a68a64;
  --light-green: #c2c5aa;
  --medium-green: #656d4a;
  --dark-green: #799049;
  --burnt-red: #941b0c;
  --mustartd-yellow: #f6aa1c;
}

nav {
  width: 100%;
  height: 75px;
  background-color: var(--dark-fire);
  color: white;
  display: flex;
  align-items: center;
}

.company-name-div {
  margin-left: 20px;
  margin-right: 100px;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 200;
}

.nav-buttons-div {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  align-items: center;
}

.nav-buttons-div > button {
  padding: 10px 50px;
  border-radius: 25px;
  border: none;
  outline: transparent;
  background: none;
  color: white;
  letter-spacing: 2px;
  font-size: 1.3rem;
  font-weight: 100;
}

.nav-buttons-div > button:hover {
  transition: 1s;
  color: var(--mustartd-yellow);
}

#content {
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
}

.home-page-image-div > img {
  width: 100%;
  height: auto;
}

.quote-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 300px;
  color: var(--steak-crust);
}

.quote-h1 {
  font-weight: 200;
  text-align: center;
  margin-bottom: 30px;
  font-size: 3rem;
}

.quote-author {
  font-weight: 200;
}
.hours-and-location-div {
  width: 60%;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--mustartd-yellow);
}

.hours-div {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  gap: 10px;
}

.hours-div > .hours-title {
  font-weight: 200;
}

.hours-div > .hours-text {
  font-weight: 100;
  color: var(--dark-brown);
}

.location-div {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  gap: 10px;
}

.location-div > .location-title {
  font-weight: 200;
}

.location-div > .location-text {
  font-weight: 100;
  color: var(--dark-brown);
}

.random-div {
  width: 100%;
  height: 500px;
  background-color: black;
}
